@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#F2D7B6 10%, #D97B59);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(73, 72, 72, 0.719);
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1{
    color: #592C28;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.418);
}

h2{
    color: #8C3D35;
}

p{
    text-align: justify;
}
